.div-todo{
    width: 95%;
    margin:30px auto;
    height: 45px;
    background-color: #849AA7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.div-todo svg{
    font-size: 25px;
    padding: 5px;
    margin: 0px;
}
div #input-todo{
    width: 90%;
    height: 100%;
    border: none;
    color: aliceblue;
    font-size: 20px;
    background: transparent;
}

.calendarXfavorite{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 10%;
}