.todo-card{
    width: 95%;
    margin:30px auto;
    height: 100%;
    background-color: #849AA7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-card div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div .todo-completed{
    width: 20px;
    height: 20px;
    margin: 10px;
}

div .todo-completed svg {
    margin: 0;
}
.todo-title {
    font-weight: 500;
    color: aliceblue;
    margin: 8px;
}